<div class="row mt-4" *ngIf="model">

  <div class="col-lg-8 col-md-7 col-12">

    <div class="card" *ngIf="model.totalStudents && model.totalStudents > 0">
      <div class="card-body" >
          <div>
            <a href="/#/scholarships/{{this.scholarshipID}}/preview/students"  class="text-primary  align-self-center mb-2 float-right ml-auto my-auto"><span [translate]="'Expandable.More'"></span></a>
            <div class="row">
              <h5 [translate]="'Scholarships.Students'" class="mr-3 my-auto"></h5>
            </div>
          </div>
          <div id="group-list"  class="flex-column">
            <ul class="sis&#45;&#45;list-group sis&#45;&#45;list-group-header">
              <li class="sis&#45;&#45;list-group-item">
                <div class="d-flex justify-content-center align-items-center">
                  <div class="sis&#45;&#45;list-group-item_lg_column d-none d-md-block" [translate]="'Students.fullName'"></div>
                  <div class="sis&#45;&#45;list-group-item_md_column d-none d-md-block" [translate]="'Students.studentIdentifier'"></div>
                  <div class="sis&#45;&#45;list-group-item_md_column d-none d-xl-block" [translate]="'Students.inscriptionYear'"></div>
                  <div class="sis&#45;&#45;list-group-item_sm_column d-none d-xl-block" [translate]="'Students.inscriptionPeriod'"></div>
                  <div class="sis&#45;&#45;list-group-item_sm_column d-none d-xl-block" [translate]="'Students.semester'"></div>
                  <div class="sis&#45;&#45;list-group-item_sm_column d-none d-xl-block" [translate]="'Students.Status'"></div>
<!--                  <div class="sis&#45;&#45;list-group-item_sm_column d-none d-xl-block" [translate]="'Students.Grade'"></div>-->
                  <div class="sis&#45;&#45;list-group-item_sm_column text-left"></div>
                </div>
              </li>
            </ul>
            <ul class="sis&#45;&#45;list-group sis&#45;&#45;list-group-body">
              <div *ngFor="let studentScholarship of studentScholarships; let i=index">
              <li class="sis&#45;&#45;list-group-item" *ngIf="i<5">
                <div class="d-flex justify-content-center align-items-center list-color">
                  <div class="sis&#45;&#45;list-group-item_lg_column text-truncate"><span class="text-dark">{{ studentScholarship.student.person.familyName + ' ' + studentScholarship.student.person.givenName}}</span></div>
                  <div class="sis&#45;&#45;list-group-item_md_column text-truncate"><span class="text-dark">{{ studentScholarship.student.studentIdentifier }}</span></div>
                  <div class="sis&#45;&#45;list-group-item_md_column d-none d-xl-block"><span class="text-secondary">{{ studentScholarship.student.inscriptionYear.alternateName }}</span></div>
                  <div class="sis&#45;&#45;list-group-item_sm_column d-none d-xl-block "><span class="text-secondary">{{'Periods.' + studentScholarship.student.inscriptionPeriod.alternateName | translate}}</span></div>
                  <div class="sis&#45;&#45;list-group-item_sm_column d-none d-xl-block text-center"><span>{{ studentScholarship.student.semester }}</span></div>
                  <div class="sis&#45;&#45;list-group-item_sm_column d-none d-xl-block "><span class="text-secondary">{{'StudentStatuses.' + studentScholarship?.student.studentStatus.alternateName | translate}}</span></div>
<!--                  <div class="sis&#45;&#45;list-group-item_sm_column d-none d-xl-block"><span class="text-secondary">{{ (studentScholarship.grade * 10)  }}</span></div>-->
                  <div class="sis&#45;&#45;list-group-item_sm_column text-right">
                    <a href="/#/students/{{studentScholarship.student.studentIdentifier}}/" class="text-primary text-decoration-none" [translate]="'Scholarships.Preview'"></a>
                  </div>
                </div>
              </li>
              </div>
            </ul>
          </div>
          <div class="mt-4 mb-3 text-left text-gray-600 font-xs" *ngIf="model.totalStudents == 1; else MoreClasses">
            <span>{{ model.totalStudents}} <span  [translate]="'Scholarships.Student'"></span></span>
          </div>
          <ng-template #MoreClasses>
            <div class="mt-4 mb-3 text-left text-gray-600 font-xs">
              <span>{{ model.totalStudents}} <span  [translate]="'Scholarships.Students'"></span></span>
            </div>
          </ng-template>

      </div>
    </div>

    <div *ngIf="!model.totalStudents || model.totalStudents && model.totalStudents == 0">
      <div class="card">
        <div class="card-header  mt-3" >
          <a href="/#/scholarships/{{this.scholarshipID}}/preview/students"  class="text-primary  align-self-center mb-2 float-right ml-auto my-auto"><span [translate]="'Expandable.More'"></span></a>
          <div class="row">
            <h5 [translate]="'Scholarships.Students'" class="mr-3 my-auto"></h5>
          </div>
        </div>
        <div class="card-body pt-0 pb-3">
          <div class="card-text row pb-2">
            <div class="col-auto text-dark pl-3">
              <span [translate]="'Scholarships.NoStudents'"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-lg-4 col-md-5 col-12">

    <div class="card" *ngIf="model?.length != 0">
      <div class="card-header d-flex justify-content-between mt-3">
        <h5 class="mr-3  my-auto">{{ model.name }}</h5>
  <!--        <a href="#/courses/{{this.courseID}}/dashboard/overview" class="text-primary my-auto my-auto" [translate]="'Expandable.More'"></a>-->
      </div>
      <div class="card-body pt-0 pb-3">
        <div class="card-text row">
          <div class="col-12  text-dark">
            {{model?.name}}
          </div>
        </div>
        <div class="card-text row">
          <div class="col-12 text-secondary">
            <span>{{ model.department?.name }}</span>
          </div>
        </div>
        <div class="row  mt-3">
          <div class="col-6">
  <!--            <button type="button" class="mr-0 ml-0 btn btn-outline-secondary  text-secondary btn-more btn-block text-truncate"><i class="fa fa-flag-checkered pr-2"></i> <span-->
  <!--              [translate]="'Courses.Elearning'"></span></button>-->
          </div>
          <div class="col-6">
            <button type="button" class="mr-0 ml-0 btn btn-outline-secondary  text-secondary btn-more btn-block text-truncate" [routerLink]="['/scholarships', this.scholarshipID, 'preview', 'students']"><i class="fa fa-flag-checkered pr-2"></i> <span
              [translate]="'Scholarships.Students'"></span></button>
          </div>
        </div>
      </div>
      <div class="card-footer border-top py-4 text-secondary">
        <div class="form-group row mb-1">
          <div class="col-5">
            <span [translate]="'Scholarships.ScholarshipTypeName'"></span>
          </div>
          <div class="col-7 text-dark">
            <span>{{ 'Scholarships.ScholarshipType.' + model.scholarshipType?.alternateName | translate }}</span>
          </div>
        </div>
        <div class="form-group row mb-1">
          <div class="col-5">
            <span [translate]="'Scholarships.Organization'"></span>
          </div>
          <div class="col-7 text-dark">
            <span>{{ model.organization.name }}</span>
          </div>
        </div>
        <div class="form-group row mb-1">
          <div class="col-5">
            <span [translate]="'Scholarships.YearAlternateName'"></span>
          </div>
          <div class="col-7 text-dark">
            <span>{{model.year?.alternateName}}</span>
          </div>
        </div>
        <div class="form-group row mb-1">
          <div class="col-5">
            <span [translate]="'Scholarships.StatusName'"></span>
          </div>
          <div class="col-7 text-dark">
            <span>{{ 'Scholarships.StatusAlternateName.' + model.status?.alternateName | translate }}</span>
          </div>
        </div>
        <div class="form-group row mb-1">
          <div class="col-5">
            <span [translate]="'Scholarships.TotalStudents'"></span>
          </div>
          <div class="col-7 text-dark">
            <span>{{ model?.totalStudents || '0' }}</span>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
