<div>
    <h4 class="mb-4">Typography</h4>
    <h5 class="mb-4">Headings</h5>
    <div class="row">
        <div class="col-12">
            <div id="h1">
                <h1>h1. Bootstrap heading</h1>
            </div>
            <div class="mt-2">
                <app-highlight highlight="'#h1'"></app-highlight>
            </div>
        </div>

        <div class="col-12">
            <div id="h2">
                <h2>h2. Bootstrap heading</h2>
            </div>
            <div class="mt-2">
                <app-highlight highlight="'#h2'"></app-highlight>
            </div>
        </div>

        <div class="col-12">
            <div id="h3">
                <h3>h3. Bootstrap heading</h3>
            </div>
            <div class="mt-2">
                <app-highlight highlight="'#h3'"></app-highlight>
            </div>
        </div>

        <div class="col-12">
            <div id="h4">
                <h4>h4. Bootstrap heading</h4>
            </div>
            <div class="mt-2">
                <app-highlight highlight="'#h4'"></app-highlight>
            </div>
        </div>

        <div class="col-12">
            <div id="h5">
                <h5>h5. Bootstrap heading</h5>
            </div>
            <div class="mt-2">
                <app-highlight highlight="'#h5'"></app-highlight>
            </div>
        </div>

        <div class="col-12">
            <div id="h6">
                <h6>h6. Bootstrap heading</h6>
            </div>
            <div class="mt-2">
                <app-highlight highlight="'#h6'"></app-highlight>
            </div>
        </div>
        
    </div>
    <h5 class="mb-4">Font sizes</h5>
    <div class="row">
        <div class="col-12">
            <div id="font-sm">
                <span class="font-sm">The five boxing wizards jump quickly.</span>
            </div>
            <div class="mt-2">
                <app-highlight highlight="'#font-sm'"></app-highlight>
            </div>
        </div>
        <div class="col-12">
            <div id="font-lg">
                <span class="font-lg">The five boxing wizards jump quickly.</span>
            </div>
            <div class="mt-2">
                <app-highlight highlight="'#font-lg'"></app-highlight>
            </div>
        </div>
        <div class="col-12">
            <div id="font-xl">
                <span class="font-xl">The five boxing wizards jump quickly.</span>
            </div>
            <div class="mt-2">
                <app-highlight highlight="'#font-xl'"></app-highlight>
            </div>
        </div>
        <div class="col-12">
            <div id="font-2xl">
                <span class="font-2xl">The five boxing wizards jump quickly.</span>
            </div>
            <div class="mt-2">
                <app-highlight highlight="'#font-2xl'"></app-highlight>
            </div>
        </div>
        <div class="col-12">
            <div id="font-3xl">
                <span class="font-3xl">The five boxing wizards jump quickly.</span>
            </div>
            <div class="mt-2">
                <app-highlight highlight="'#font-3xl'"></app-highlight>
            </div>
        </div>
        <div class="col-12">
            <div id="font-4xl">
                <span class="font-4xl">The five boxing wizards jump quickly.</span>
            </div>
            <div class="mt-2">
                <app-highlight highlight="'#font-4xl'"></app-highlight>
            </div>
        </div>
    </div>
</div>
