<div class="col-12 tab-navbar tab-container">
  <ul class="nav nav-tabs d-flex">
    <li class="nav-item">
      <a class="nav-link pl-lg-5 pr-lg-5" [translate]="'Scholarships.General'" [routerLink]="['general']"
        [routerLinkActive]="'active'"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link pl-lg-5 pr-lg-5" [translate]="'Scholarships.Students'" [routerLink]="['students']"
        [routerLinkActive]="'active'"></a>
    </li>
    <li class="nav-item tab-buttons disabled ml-auto">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-2" role="group">
        </div>
      </div>
    </li>
  </ul>

  <router-outlet></router-outlet>

</div>
