<div *ngIf="model">
  <div class="card" *ngIf=" model?.length != 0">
    <div class="card-header d-flex justify-content-between mt-3">
      <h5 class="mr-3  my-auto" [translate]="'Instructors.General'"></h5>
      <a href="#/instructors/{{this.id}}/dashboard/general" class="text-primary my-auto my-auto" [translate]="'Expandable.More'"></a>
    </div>
    <div class="card-body pt-0 pb-3">
      <div class="profile_avatar_box text-center mb-3">
        <div *ngIf="model.gender" class="avatar avatar-12" [ngClass]="{
        'avatar-male-teacher' : model.gender.alternateName === 'male',
        'avatar-female-teacher' : model.gender.alternateName === 'female' }">
        </div>
        <div><span>{{model?.givenName}} {{model?.familyName}}</span></div>
      </div>
      <div class="card-text row">
        <div class="col-12 col-md-6">
          <a href="mailto:{{model?.email}}" class="btn btn-md bg-color-theme text-light w-100 mt-2" [translate]="'Instructors.ContactByEmail'"></a>
        </div>
        <div class="col-12 col-md-6">
          <button [disabled]="model.user == null" class="btn btn-md bg-white border-dark w-100 mt-2" (click)="enableMessages()"
                  [translate]="'Instructors.NotifyInstructor'"></button>
        </div>
      </div>
      <app-send-message-to-instructor [showMessageForm]="showMessageForm" [id]="this.id"
                                   (succesfulSend)="onsuccesfulSend($event)"></app-send-message-to-instructor>
    </div>
    <div class="card-footer border-top py-4 text-secondary">
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Instructors.RegistrationNumber'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{model?.personCode}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Instructors.UserName'"></span>
        </div>
        <div *ngIf="model?.use; else NoUser" class="col-7 text-dark">
          <span>{{model?.user?.name}}</span>
        </div>
        <ng-template #NoUser>
          <div class="col-7 text-dark"> - </div>
        </ng-template>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Instructors.Department'"></span>
        </div>
        <div *ngIf="model.department" class="col-7 text-dark">
          <span>{{model?.department?.abbreviation}}</span>
        </div>
        <div *ngIf="!model.department" class="col-7 text-dark">
          <span><a [routerLink]="['.', { outlets:{ modal:'add/addDepartment'} }]" class="text-danger"
            [translate]="'Instructors.NoDepartment'"></a></span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Instructors.Category'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{model?.category}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Instructors.Specialty'"></span>
        </div>
        <div *ngIf="model?.specialty; else NoSpecialty" class="col-7 text-dark">
          <span>{{model?.specialty}}</span>
        </div>
        <ng-template #NoSpecialty>
          <div class="col-7 text-dark"> - </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
