<div class="col-12 tab-navbar tab-container">
  <ul class="nav  d-flex">
    <li class=" tab-brand disabled">
      <a class="text-secondary nav-link pl-0 font-lg" [routerLink]="['/classes/list']">
        <i class="fa fa-chevron-left pr-1"></i><span [translate]="'Classes.Title'"></span></a>
    </li>
    <li class="nav-item tab-buttons disabled ml-auto">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-2" role="group"></div>
      </div>
    </li>
  </ul>
  <div *ngIf="model" class="row pt-2 pb-2 ">
    <div class="col-auto">
      <h1 class='d-inline'>{{ model.course.displayCode }} - {{ model.title }} <span
          class="font-xl">{{model?.year?.alternateName}} -
          {{'Periods.' + model?.period?.alternateName | translate}}</span> <span>
          <i placement="bottom" id="tooltip" [tooltip]="tooltipTemplate"
            class="fa fa-info bg-primary text-light px-2 py-1 ml-3 rounded-circle font-xs align-middle"></i></span>
      </h1>
    </div>
    <div class="col-auto px-2 py-0 ml-auto" *ngIf="model">
      <app-actions-button [edit]="edit" [actions]="actions"></app-actions-button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<ng-template #tooltipTemplate>
  <div class="font-lg text-gray-600">
    <div class="row m-1">
      <div class="col-md-6 text-left text-dark">
        <span [translate]="'Classes.Course'"></span>
      </div>
      <div class="col-md-6 text-left">
        <span>{{ model.course.name }}</span>
      </div>
    </div>
    <div class="row m-1">
      <div class="col-md-6 text-left text-dark">
        <span [translate]="'Classes.Status'"></span>
      </div>
      <div class="col-md-6 text-left">
        <span>{{ ('ClassStatuses.' + model.status.alternateName) | translate }}</span>
      </div>
    </div>
  </div>
</ng-template>