<div *ngIf="grades" >
  <ul div *ngIf="grades.length>0" class="sis--list-group sis--list-group-header">
    <li class="sis--list-group-item">
      <div class="d-flex justify-content-center align-items-center">
        <div class="sis--list-group-item_lg_column" [translate]="'Theses.InstructorFullName'"></div>
        <div class="sis--list-group-item_lg_column d-none d-md-block" [translate]="'Theses.InstructorCategory'"></div>
        <div class="sis--list-group-item_lg_column d-none d-xl-block" [translate]="'Theses.InstructorFormattedGrade'"></div>
        <div class="sis--list-group-item_lg_column d-none d-md-block text-right"></div>
      </div>
    </li>
  </ul>
  <ul class="sis--list-group sis--list-group-body">
    <li *ngFor="let grade of grades" class="sis--list-group-item">
      <div class="d-flex justify-content-center align-items-center list-color">
        <div class="sis--list-group-item_lg_column ">
          {{grade.instructor.familyName }} {{grade.instructor.givenName}}
        </div>
        <div class="sis--list-group-item_lg_column d-none d-md-block">{{grade.instructor.category}}</div>
        <div class="sis--list-group-item_lg_column">{{grade.formattedGrade}}</div>
        <div class="sis--list-group-item_lg_column d-none d-xl-block text-right">
          <a href="#/instructors/{{grade.instructor?.id}}/dashboard/overview"
             class="text-primary text-decoration-none" [translate]="'Theses.Preview'"></a>
        </div>
      </div>
    </li>
  </ul>

  <div class="mb-3 pt-3"  *ngIf="grades.length === 0">
        <span [translate]="'Theses.NoInstructors'"></span>
  </div>
</div>
