<div>
  <div class="row">
    <div class="col-12" [ngVar]="{graduationEventId: graduationEventId}" #filter="ngVar">
      <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="requests">
        <advanced-search>
          <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search
                                    [(filter)]="filter.value"></app-advanced-search-form>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>
  <div class="row">
    <div class="col-auto mt-4">
      <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Graduations.StudentsPlural'"></span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Graduations.StudentsSingular'"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-4">
      <app-advanced-table #requests (load)="onDataLoad($event)"></app-advanced-table>
    </div>
  </div>
  <router-modal></router-modal>
</div>
