<div class="card" *ngIf="courseClassStudents && courseClassStudents.length>0">
  <div class="card-header d-flex justify-content-between mt-3">
    <h5 class="mr-2 my-auto" [translate]="'Classes.RegisteredStudents'"></h5>
  </div>
  <div class="card-body">
    <canvas baseChart
      height="180vh"
      [data]="chartAutoregisteredStudentsData"
      [labels]="chartAutoregisteredStudentsLabels"
      [options]="chartAutoregisteredStudentsOptions"
      [legend]="chartAutoregisteredStudentsLegend"
      [chartType]="chartAutoregisteredStudentsType"
      [colors]="chartAutoregisteredStudentsColours">
    </canvas>
  </div>
</div>
