<div *ngIf="model">
  <div class="row mt-4" *ngIf="model?.length !=0;">
    <div class="col-lg-8 col-md-7 col-12">
      <app-theses-dashboard-overview-students></app-theses-dashboard-overview-students>
      <app-theses-dashboard-overview-grades></app-theses-dashboard-overview-grades>
    </div>
    <div class="col-lg-4 col-md-5 col-12">
      <app-theses-dashboard-overview-general></app-theses-dashboard-overview-general>
    </div>
  </div>
</div>
