<div>
    <div class="tab-wizard">
        <div class="row mb-3">
            <div class="col-12">
                <span class="font-weight-bold text-secondary" [translate]="'Graduations.StepOf'" [translateParams]="{ step: currentTab + 1, steps: staticTabs.tabs.length }"></span>
            </div>
        </div>
        <ng-container *ngIf="lastError">
            <!--show error-->
            <div class="row mb-3">
                <div class="alert alert-warning" role="alert">
                    <span>{{ 'Documents.SignError' | translate }}</span><br>
                    <small *ngIf="lastError.status >= 0" [translate]="'E' + lastError.status + '.message'"></small>
                    <small *ngIf="lastError.status == null">{{lastError.message}}</small>
                </div>
            </div>
        </ng-container>
        <tabset #staticTabs>
            <tab heading="General Properties">
                <form #form1="ngForm" novalidate>
                    <div class="form-group row col-md-8">
                        <label class="form-required" for="title"[translate]="'Graduations.GraduationTitle'"></label>
                        <input [(ngModel)]="model.name" [required]="true" type="text" class="form-control" id="title" name="title" placeholder="{{'Graduations.EnterTitle' | translate}}">
                        <div id="titleHelpBlock" class="form-text text-muted" [translate]="'Graduations.TitleHelp'">
                        </div>
                    </div>
                    <div class="form-row">
                        <most-data #academicPeriods [model]="'AcademicPeriods'" [order]="'id'"></most-data>
                        <div class="form-group col-md-4">
                            <label class="form-required" for="academicPeriod" [translate]="'Students.AcademicPeriod'">Period</label>
                            <select [compareWith]="compareSelectOption" [(ngModel)]="model.graduationPeriod" [required]="true" id="academicPeriod" name="academicPeriod" class="form-control">
                                <option [ngValue]="null">-</option>
                                <ng-container *ngIf="academicPeriods.value">
                                    <option *ngFor="let academicPeriod of academicPeriods.value" [ngValue]="academicPeriod">
                                        {{academicPeriod.name}}
                                    </option>
                                </ng-container>
                            </select>
                        </div>
                        <most-data #academicYears [model]="'AcademicYears'" [top]="-1" [order]="'id desc'"></most-data>
                        <div class="form-group col-md-4">
                            <label class="form-required" for="academicYear" [translate]="'Students.AcademicYear'">Academic Year</label>
                            <select [compareWith]="compareSelectOption" [(ngModel)]="model.graduationYear" [required]="true"  id="academicYear" name="academicYear"class="form-control">
                                <option [ngValue]="null">-</option>
                                <ng-container *ngIf="academicYears.value">
                                    <option *ngFor="let academicYear of academicYears.value" [ngValue]="academicYear">
                                        {{academicYear.name}}
                                    </option>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                    <!--start: study programs-->
                    <ng-container *ngIf="model.organizer">
                        <div class="form-row mb-3">
                            <label class="form-required" [translate]="'StudyPrograms.Title'">Study Programs</label>
                        </div>
                        <div class="form-row mb-2">
                            <div class="col-12">
                                <input (change)="onSelectAllStudyPrograms($event)"
                                       [(ngModel)]="selectAllStudyPrograms"
                                       class="checkbox checkbox-secondary"
                                       type="checkbox"
                                       id="selectAllStudyPrograms"
                                       name="selectAllStudyPrograms">
                                <label class="form-check-label text-secondary" for="selectAllStudyPrograms" [translate]="'Tables.SelectAll'">
                                    Select All
                                </label>
                            </div>
                        </div>
                        <div class="form-row mb-2">
                            <div class="col-6">
                                <small class="pl-4 text-secondary font-weight-bold" [translate]="'StudyPrograms.Title'"></small>
                            </div>
                            <div class="col-6 font-weight-bold">
                                <small class="text-secondary font-weight-bold" [translate]="'StudyPrograms.StudyLevel'"></small>
                            </div>
                        </div>
                        <div class="border border-gray-200 simple-check-list rounded p-3">
                            <div class="form-row mb-3"  *ngFor="let studyProgram of studyPrograms">
                                <div class="col-6">
                                    <input [(ngModel)]="studyProgram.selected"
                                           class="checkbox checkbox-theme"
                                           type="checkbox"
                                           (change)="onStudyProgramSelected(studyProgram)"
                                           id="studyProgram-{{studyProgram.id}}"
                                           name="studyProgram-{{studyProgram.id}}">
                                    <label class="form-check-label" for="studyProgram-{{studyProgram.id}}">
                                        {{studyProgram.name}}
                                    </label>
                                </div>
                                <div class="col-6">
                                    {{studyProgram.studyLevel}}
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <!--end: study programs-->
                </form>
            </tab>
            <tab heading="Graduation Event">
                <form #form2="ngForm" novalidate>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label class="form-required" for="startDate" [translate]="'Graduations.GraduationDate'"></label>
                            <input type="text"
                                   [(ngModel)]="model.startDate"
                                   id="startDate"
                                   name="startDate"
                                   placeholder="{{'Graduations.ChooseDate' | translate}}"
                                   class="form-control form-date-picker"
                                   autocomplete="off"
                                   [required]="true"
                            >
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-required" [translate]="'Graduations.GraduationTime'"></label>
                            <input [(ngModel)]="model.startTime"
                                   [required]="true"
                                   type="text"
                                   [pattern]="'^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$'"
                                   class="form-control"
                                   id="startTime"
                                   name="startTime"
                                   autocomplete="off"
                                   [maxLength]="5"
                                   placeholder="HH:MM">
                        </div>
                    </div>
                    <div class="form-row">
                        <most-data #places [model]="'Places'" [order]="'name'"></most-data>
                        <div class="form-group col-md-12">
                            <label class="form-required" for="place" [translate]="'Graduations.Place'">Period</label>
                            <select [compareWith]="compareSelectOption" [(ngModel)]="model.location" [required]="true" id="place" name="place" class="form-control col-6">
                                <option [ngValue]="null">-</option>
                                <ng-container *ngIf="places.value">
                                    <option *ngFor="let place of places.value" [ngValue]="place">
                                        {{place.name}}
                                    </option>
                                </ng-container>
                            </select>
                            <div class="form-text text-muted" [translate]="'Graduations.LocationHelp'">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label [translate]="'Graduations.MaximumAttendeeCapacity'"></label>
                            <input [(ngModel)]="model.maximumAttendeeCapacity"
                                   type="text"
                                   class="form-control col-4"
                                   id="maximumAttendeeCapacity"
                                   name="maximumAttendeeCapacity"
                                   [maxLength]="5">
                            <div class="form-text text-muted" [translate]="'Graduations.MaximumAttendeeCapacityHelp'">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 mb-0">
                            <label class="form-required" [translate]="'Graduations.RequestPeriod'"></label>
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text"
                                   [(ngModel)]="model.validFrom"
                                   id="validFrom"
                                   placeholder="{{'Graduations.ValidFrom' | translate}}"
                                   name="validFrom"
                                   class="form-control form-date-picker"
                                   autocomplete="off"
                            >
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text"
                                   [(ngModel)]="model.validThrough"
                                   id="validThrough"
                                   name="validThrough"
                                   placeholder="{{'Graduations.ValidThrough' | translate}}"
                                   class="form-control form-date-picker"
                                   autocomplete="off"
                            >
                        </div>

                    </div>
                </form>
            </tab>
            <tab heading="Graduation Attachments">
                <form #form3="ngForm" novalidate>
                    <!--start: attachment types-->
                    <ng-container>
                        <div class="form-row mb-3">
                            <label [translate]="'Graduations.RequestAttachments'"></label>
                        </div>
                        <div class="form-row mb-2 d-none">
                            <div class="col-12">
                                <input class="checkbox checkbox-secondary"
                                       type="checkbox"
                                       id="selectAttachments">
                                <label class="form-check-label text-secondary" for="selectAttachments" [translate]="'Tables.SelectAll'">
                                    Select All
                                </label>
                            </div>
                        </div>
                        <div class="form-row mb-2">
                            <div class="col-8">
                                <small class="pl-4 text-secondary font-weight-bold" [translate]="'Forms.Description'"></small>
                            </div>
                        </div>
                        <div class="border border-gray-200 simple-check-list rounded p-3">
                            <div class="form-row mb-3"  *ngFor="let attachmentType of attachmentTypes">
                                <div class="col-8">
                                    <input class="checkbox checkbox-theme" type="checkbox"
                                           [(ngModel)]="attachmentType.selected"
                                           name="attachment-type-{{attachmentType.id}}"
                                           id="attachment-type-{{attachmentType.id}}">
                                    <label class="form-check-label" for="attachment-type-{{attachmentType.id}}">
                                        {{attachmentType.name}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <!--end: attachment types-->
                    <div class="form-row mt-2 mb-2">
                        <div class="col-12">
                            <span [translate]="'Graduations.RequestAttachmentsHelp'"></span>
                        </div>
                    </div>
                </form>
            </tab>
            <tab heading="Graduation Certificates">
                <form #form4="ngForm" novalidate>
                    <!--start: report templates-->
                    <div class="form-row mb-3">
                        <label [translate]="'Graduations.AutoRequestDocuments'"></label>
                    </div>
                    <div class="form-row mb-2 d-none">
                        <div class="col-12">
                            <input class="checkbox checkbox-secondary" type="checkbox" id="selectReports">
                            <label class="form-check-label text-secondary" for="selectReports" [translate]="'Tables.SelectAll'">
                                Select All
                            </label>
                        </div>
                    </div>
                    <div class="form-row mb-2">
                        <div class="col-8">
                            <small class="pl-4 text-secondary font-weight-bold" [translate]="'Forms.Description'"></small>
                        </div>
                    </div>
                    <div class="border border-gray-200 simple-check-list rounded p-3">
                        <div class="form-row mb-3"  *ngFor="let reportTemplate of reportTemplates">
                            <div class="col-8">
                                <input class="checkbox checkbox-theme"
                                       type="checkbox"
                                       [(ngModel)]="reportTemplate.selected"
                                       name="report-template-{{reportTemplate.id}}"
                                       id="report-template-{{reportTemplate.id}}">
                                <label class="form-check-label" for="report-template-{{reportTemplate.id}}">
                                    {{reportTemplate.name}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <!--end: report templates-->
                    <div class="form-row mt-2 mb-2">
                        <div class="col-12">
                            <span [translate]="'Graduations.AutoRequestDocumentsHelp'"></span>
                        </div>
                    </div>
                </form>
            </tab>
        </tabset>
        <div>

        </div>
    </div>
</div>
