<div class="card">
  <div class="card-header d-md-flex">
    <h5 [translate]="'Students.RecentGrades'" class="mr-3 my-auto"></h5>
    <span class="text-gray-600 font-xs my-auto d-inline-block" *ngIf="lastYearPeriod?.gradeYear && lastYearPeriod?.gradePeriod">
      {{ lastYearPeriod?.gradeYear?.description }} {{ 'Periods.' + lastYearPeriod?.gradePeriod?.alternateName | translate }} {{ 'Students.Semester' | translate }}
    </span>
    <a href="#/students/{{studentId}}/dashboard/grades" class="text-primary ml-auto my-auto"><span [translate]="'Students.More'"></span></a>
  </div>
  <div class="card-body pt-0">
    <div id="group-list"  class="flex-column" *ngIf="recentGrades && recentGrades.length > 0">
      <ul class="sis--list-group sis--list-group-header">
        <li class="sis--list-group-item">
          <div class="d-flex justify-content-center align-items-center">
            <div class="sis--list-group-item_sm_column d-none d-md-block text-left" [translate]="'Students.CourseDisplayCode'"></div>
            <div class="sis--list-group-item_sm_column d-none d-md-block px-4 text-left" [translate]="'Students.Instructor'"></div>
            <div class="sis--list-group-item_sm_column d-none d-md-block text-left" [translate]="'Students.Exam'"></div>
            <div class="sis--list-group-item_sm_column d-none d-lg-block text-left" [translate]="'Students.Type'"></div>
            <div class="sis--list-group-item_sm_column d-none d-lg-block text-left" [translate]="'Students.Units'"></div>
            <div class="sis--list-group-item_sm_column d-none d-lg-block text-left" [translate]="'Students.Εcts'"></div>
            <div class="sis--list-group-item_sm_column d-none d-lg-block text-left" [translate]="'Students.Coefficient'"></div>
            <div class="sis--list-group-item_sm_column text-right" [translate]="'Students.Grade'"></div>
          </div>
        </li>
      </ul>
      <ul class="sis--list-group sis--list-group-body">
        <li class="sis--list-group-item" *ngFor="let currentGrade of recentGrades | slice:0:3;">
          <div class="d-flex justify-content-center align-items-center list-color">
            <div class="sis--list-group-item_xl_column"><span>{{ currentGrade?.courseTitle }}</span>
              <div class="d-flex justify-content-center align-items-center list-color">
                <div class="sis--list-group-item_sm_column d-none d-xl-block"><span class="font-xs text-secondary">{{ currentGrade?.course?.displayCode }}</span></div>
                <div class="sis--list-group-item_sm_column d-none d-xl-block text-truncate"><span class="font-xs text-secondary">{{ currentGrade?.course?.instructor?.familyName }}</span></div>
                <div class="sis--list-group-item_sm_column d-none d-xl-block text-truncate"><span class="font-xs text-secondary">
                  {{ currentGrade?.gradeYear?.year }} {{ currentGrade?.examPeriod?.name }}</span>
                </div>
                <div class="sis--list-group-item_sm_column d-none d-xl-block"><span class="font-xs text-secondary">{{ currentGrade?.courseType?.name }}</span></div>
                <div class="sis--list-group-item_sm_column d-none d-xl-block"><span class="font-xs text-secondary">{{ currentGrade?.units }}</span></div>
                <div class="sis--list-group-item_sm_column d-none d-xl-block"><span class="font-xs text-secondary">{{ currentGrade?.ects }}</span></div>
                <div class="sis--list-group-item_sm_column d-none d-xl-block"><span class="font-xs text-secondary">{{ currentGrade?.coefficient }}</span></div>
              </div>
            </div>
            <div class="sis--list-group-item_sm_column text-right">
              <span class="font-2xl" [ngClass]="currentGrade?.isPassed? 'text-success' : 'text-danger'">
                {{ currentGrade?.formattedGrade }}
              </span>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="mb-3" *ngIf="!recentGrades || recentGrades.lenght == 0">
      <span [translate]="'Students.Empty'"></span>
    </div>
  </div>
</div>
