<div class="row mt-3" *ngIf="model">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)"
           class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Graduations.GeneralUpper'"></span>
          <i class="collapsible  ml-3 pt-1 fa"
             [ngClass]=" {'fa-chevron-up' : collapsed1.value, 'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form *ngIf="collapsed1.value" class="mt-2 collapsible-form">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-12 col-md-6 col-lg-5 col-xl-3">
                  <div class="form-group text-dark">
                    <label for="graduationPeriod" [translate]="'Students.AcademicPeriod'"></label>
                    <input [disabled]="true" class="form-control bg-white" id="graduationPeriod" name="graduationPeriod"
                           type="text"
                           [value]="'Periods.' + model.graduationPeriod.alternateName | translate">
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-5 col-xl-3">
                  <div class="form-group text-dark">
                    <label for="graduationYear" [translate]="'Students.AcademicYear'"></label>
                    <input [disabled]="true" class="form-control bg-white" id="graduationYear" name="graduationYear"
                           type="text"
                           [value]="model.graduationYear.alternateName">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-12 col-md-12 col-lg-10 col-xl-6">
                  <div class="form-group text-dark">
                    <label [translate]="'StudyPrograms.Title'"></label>
                    <ul class="sis--list-group sis--list-group-body">
                      <li class="sis--list-group-item" *ngFor="let studyProgram of model.studyPrograms">
                        <div class="d-flex justify-content-center align-items-center list-color">
                          <div class="sis--list-group-item_lg_column">{{studyProgram?.name}}</div>
                          <div
                            class="sis--list-group-item_md_column d-none d-md-block">{{studyProgram?.degreeDescription}}</div>
                        </div>
                      </li>
                    </ul>
                    <div *ngIf="model.studyPrograms && model.studyPrograms.length === 0" class="mt-2">
                      <span class="text-gray-600" [translate]="'Graduations.NoGeneralInfo'"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3" *ngIf="model">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed2="ngVar" href="javascript:void(0)"
           class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed2.value = !collapsed2.value">
          <span [translate]="'Graduations.Event'"></span>
          <i class="collapsible  ml-3 pt-1 fa"
             [ngClass]=" {'fa-chevron-up' : collapsed2.value, 'fa-chevron-down' : !collapsed2.value}"></i>
        </a>
        <form *ngIf="collapsed2.value" class="mt-2 collapsible-form">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-12 col-md-6 col-lg-5 col-xl-3">
                  <div class="form-group text-dark">
                    <label for="startDate" [translate]="'Graduations.GraduationDate'"></label>
                    <input [disabled]="true" class="form-control bg-white" id="startDate" name="startDate" type="text"
                           [value]="model.startDate">
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-5 col-xl-3">
                  <div class="form-group text-dark">
                    <label for="startTime" [translate]="'Graduations.GraduationTime'"></label>
                    <input [disabled]="true" class="form-control bg-white" id="startTime" name="startTime" type="text"
                           [value]="model.startTime">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-12 col-md-12 col-lg-10 col-xl-6">
                  <div class="form-group text-dark">
                    <label for="location" [translate]="'Graduations.Place'"></label>
                    <input [disabled]="true" class="form-control bg-white" id="location" name="location" type="text"
                           [value]="model.location.name">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-12 col-md-12 col-lg-10 col-xl-6">
                  <div class="form-group text-dark">
                    <label for="maximumAttendeeCapacity" [translate]="'Graduations.MaximumAttendeeCapacity'"></label>
                    <input [disabled]="true" class="form-control bg-white" id="maximumAttendeeCapacity"
                           name="maximumAttendeeCapacity" type="text"
                           [value]="model.maximumAttendeeCapacity">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="text-dark">
                <label [translate]="'Graduations.RequestPeriod'"></label>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 col-lg-5 col-xl-3">
                  <div class="form-group text-dark">
                    <label for="validFrom" [translate]="'Graduations.ValidFrom'"></label>
                    <input [disabled]="true" class="form-control bg-white" id="validFrom" name="validFrom" type="text"
                           [value]="model.validFrom">
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-5 col-xl-3">
                  <div class="form-group text-dark">
                    <label for="validThrough" [translate]="'Graduations.ValidThrough'"></label>
                    <input [disabled]="true" class="form-control bg-white" id="validThrough" name="validThrough"
                           type="text"
                           [value]="model.validThrough">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3" *ngIf="model">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed3="ngVar" href="javascript:void(0)"
           class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed3.value = !collapsed3.value">
          <span [translate]="'Graduations.AttachmentTypes'"></span>
          <i class="collapsible  ml-3 pt-1 fa"
             [ngClass]=" {'fa-chevron-up' : collapsed3.value, 'fa-chevron-down' : !collapsed3.value}"></i>
        </a>
        <form *ngIf="collapsed3.value" class="mt-2 collapsible-form">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-12 col-md-12 col-lg-10 col-xl-6">
                  <div class="form-group text-dark">
                    <label [translate]="'StudyPrograms.Title'"></label>
                    <ul class="sis--list-group sis--list-group-body">
                      <li class="sis--list-group-item" *ngFor="let attachmentType of model.attachmentTypes">
                        <div class="d-flex justify-content-center align-items-center list-color">
                          <div class="sis--list-group-item_lg_column">{{attachmentType?.attachmentType?.name}}</div>
                        </div>
                      </li>
                    </ul>
                    <div *ngIf="model.attachmentTypes && model.attachmentTypes.length===0" class="mt-2">
                      <span class="text-gray-600" [translate]="'Graduations.NoGeneralInfo'"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3" *ngIf="model">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed4="ngVar" href="javascript:void(0)"
           class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed4.value = !collapsed4.value">
          <span [translate]="'Graduations.ReportTemplates'"></span>
          <i class="collapsible  ml-3 pt-1 fa"
             [ngClass]=" {'fa-chevron-up' : collapsed4.value, 'fa-chevron-down' : !collapsed4.value}"></i>
        </a>
        <form *ngIf="collapsed4.value" class="mt-2 collapsible-form">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-12 col-md-12 col-lg-10 col-xl-6">
                  <div class="form-group text-dark">
                    <label [translate]="'StudyPrograms.Title'"></label>
                    <ul class="sis--list-group sis--list-group-body">
                      <li class="sis--list-group-item" *ngFor="let reportTemplate of model.reportTemplates">
                        <div class="d-flex justify-content-center align-items-center list-color">
                          <div class="sis--list-group-item_lg_column">{{reportTemplate?.name}}</div>
                        </div>
                      </li>
                    </ul>
                    <div *ngIf="model.reportTemplates && model.reportTemplates.length===0" class="mt-2">
                      <span class="text-gray-600" [translate]="'Graduations.NoGeneralInfo'"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
