<div *ngIf="model">
  <div class="card" *ngIf=" model?.length != 0">
    <div class="card-header d-flex justify-content-between mt-3">
      <h5 class="card-title font-xl text-dark  my-auto" [translate]="'StudyPrograms.General'"></h5>
    </div>
    <div class="card-body pt-0 pb-0">
      <div class="profile_avatar_box text-center mb-3">
        <div><span class="font-lg">{{model?.name}}</span></div>
        <div class="pt-1"><span
            class="text-gray-600 font-lg">{{'StudyPrograms.isActive.' + model?.isActive | translate}}</span></div>
      </div>

    </div>

    <div class="card-footer border-top py-4 text-secondary">
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.DepartmentName'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{model?.department.name}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.Semesters'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{model?.semesters}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.Abbreviation'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{model?.abbreviation}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.StudyLevel'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{'StudyLevels.' + model.studyLevel.alternateName | translate}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.GeneralInfoTab.studyLevel.dateModified'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{model.studyLevel.dateModified | date : 'shortDate'}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.Fees'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{'StudyPrograms.hasFees.' + model?.hasFees | translate}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.SpecialtySelectionSemester'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{model?.specialtySelectionSemester}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.DecimalDigitsDegree'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{model?.decimalDigits}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.GradeScale'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{model?.gradeScale.name}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.DegreeDescription'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{model?.degreeDescription}}</span>
        </div>
      </div>

    </div>
  </div>
</div>