<div class="col-12 tab-navbar tab-container">
  <ul class="nav d-flex">
    <li class=" tab-brand disabled">
      <a class="text-secondary nav-link pl-0 font-lg" [routerLink]="['../']">
        <i class="fa fa-chevron-left pr-1"></i><span [translate]="'Sidebar.AttachmentTypes'"></span></a>
    </li>
  </ul>

  <div class="row pt-2 pb-2">
    <div class="col-auto">
      <h1 class="my-auto px-0 py-2" *ngIf="model">{{model.name}}</h1>
      <h1 class="my-auto px-0 py-2" *ngIf="isCreate">{{'AttachmentTypes.New' | translate}}</h1>
    </div>
    <div class="col-auto" *ngIf="model">
      <div class="dropdown">
        <a class="btn px-0 py-2" type="button" id="dropdownCourseTitleMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="fa-2x text-dots"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownCourseTitleMenuButton">
          <a class="dropdown-item" href="{{action.href}}" *ngFor="let action of actions">{{ action?.title | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12 tab-navbar tab-container">
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
