.switch-right {
  border-top-right-radius: 6rem;
  border-bottom-right-radius: 6rem;
}
.switch-left {
  border-top-left-radius: 6rem;
  border-bottom-left-radius: 6rem;
}
.circle {
  position: relative;
  border: 4px solid;
  border-radius: 75px;
  width: 50px;
  height: 50px;
  line-height: 40px;
  text-align: center;
  z-index: 2;
  display: inline-block;
  vertical-align: middle;
  min-width: 50px;
}
.circle:first-child {
  margin-top: 0;
}
@media screen and (min-width: 993px) {
  .circle:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: -20px;
    left: 50%;
    border: 1px solid #a0a9ba;
    width: 1px;
    height: 40%;
    margin-left: -1px;
  }
}

.course-row:nth-of-type(1) .circle:before{display: none;}
