<div>
  <div *ngIf="edit" class="btn-group px-2 py-2">
    <a *ngIf="edit.click == null" type="button" class="btn btn-indigo" href="{{edit.href}}" [translate]="edit.title"></a>
    <button [disabled]="edit.disabled" *ngIf="edit.click" type="button" class="btn btn-indigo" (click)="edit.click()" [translate]="edit.title"></button>
  </div>

  <div *ngIf="actions && actions.length" class="btn-group px-2 py-2">
    <button type="button" class="btn btn-outline-indigo dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false" [translate]="'Labels.Actions'"></button>
    <div class="dropdown-menu">
      <ng-container *ngFor="let action of actions">
        <a *ngIf="action.click == null" class="dropdown-item" href="{{action.href}}" >{{ action.title | translate }}</a>
        <button [disabled]="action.disabled" *ngIf="action.click" class="dropdown-item pointer-event" (click)="action.click()" >{{ action.title | translate }}</button>
      </ng-container>
    </div>
  </div>
</div>
