<div>
    <div class="row">
        <div class="col-12" [ngVar]="{courseClassID: courseClassID}" #filter="ngVar">
            <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="students">
                <advanced-search>
                  <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search
                  [(filter)]="filter.value"></app-advanced-search-form>
                </advanced-search>
            </app-advanced-table-search>
        </div>
    </div>
    <div class="row">
      <div class="col-auto mt-4">
        <div class="font-xl text-secondary" *ngIf="recordsTotal">
          <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Classes.Students'"></span>
        </div>
      </div>
<!--      <div class="pull-right ml-auto mr-3 mt-3">
        <div class="font-lg btn-toolbar mt-3">
          <a *ngIf="this.students && this.students.selected && this.students.selected.length"
             class="text-danger text-decoration-none mr-2" href="javascript:void(0)" (click)="remove()">
            <span>-</span><span>&nbsp;</span><span [translate]="'Classes.Remove'"></span>
          </a>
          <a class="text-indigo text-decoration-none" [routerLink]="['.', { outlets:{ modal:'add'} }]">
            <span>+</span><span>&nbsp;</span><span [translate]="'Classes.AddStudent'"></span>
          </a>
        </div>
      </div>-->
    </div>
    <div class="row">
        <div class="col-12 mb-4">
            <app-advanced-table #students (load)="onDataLoad($event)" [selectable]="false" [height]="600" [config]="config" [showfooter]="false"></app-advanced-table>
        </div>
    </div>
    <router-modal></router-modal>
</div>
