<div class="row mt-4" *ngIf="latestRegistrationHistory">

  <div class="col-lg-12 mt-2" *ngIf="latestRegistrationHistory.documents.length>0">

    <h4 class="text-secondary">{{ latestRegistrationHistory.documents.length }} {{ 'Registrations.History.Edits' | translate }} </h4>

    <ul class="sis--list-group sis--list-group-header" *ngIf="latestRegistrationHistory.documents && latestRegistrationHistory.documents.length>0">
      <li class="sis--list-group-item">
        <div class="d-flex justify-content-center align-items-center">
          <div class="sis--list-group-item_lg_column" [translate]="'Students.Date'"></div>
          <div class="sis--list-group-item_md_column d-none d-md-block" [translate]="'Students.ActionTo'"></div>
          <div class="sis--list-group-item_md_column d-none d-md-block" [translate]="'Students.Status'"></div>
          <div class="sis--list-group-item_md_column d-none d-md-block"></div>
        </div>
      </li>
    </ul>

    <ul class="sis--list-group sis--list-group-body mb-5" *ngIf="latestRegistrationHistory.documents && latestRegistrationHistory.documents.length>0">

      <li *ngFor="let document of latestRegistrationHistory.documents" class="sis--list-group-item">

        <div class="d-flex justify-content-center align-items-center list-color">
          <div class="sis--list-group-item_lg_column">{{ document?.dateModified | date:'short' }}</div>
          <div class="sis--list-group-item_md_column d-none d-md-block text-secondary">{{ 'Students.Student' | translate }}</div>
          <div class="sis--list-group-item_md_column d-none d-md-block">
            <span [ngClass]="document?.documentStatus?.alternateName === 'open'? 'text-success' :
                        document?.documentStatus?.alternateName === 'closed'? 'text-danger' :
                        document?.documentStatus?.alternateName === 'pending'? 'text-color-theme' : 'text-dark'">
              {{ 'DocumentStatuses.' + document?.documentStatus?.alternateName | translate}}
            </span>
          </div>
          <div class="sis--list-group-item_md_column d-none d-md-block">
            <!--  <a href="#/students/{{latestRegistrationHistory?.student}}/registrations/{{ document?.id }}" class="text-primary text-decoration-none"
              [translate]="'Students.View'" disabled></a>-->
            <span [translate]="'Students.View'" class="text-secondary"></span>
          </div>
        </div>

      </li>

    </ul>

  </div>

  <div class="col-lg-12 mt-2" *ngIf="latestRegistrationHistory.documents.length==0">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <p class="card-text" [translate]="'Registrations.History.noedits'"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
